
*{
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;  
}

html,body{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}